<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr> <h1 style="text-align: center;">Questions to answer</h1> <hr>
        <a href='/doquestion' class='btn btn-primary'>Create a question</a> <hr>
        <% if (locals.questions){ %>
        <% questions.forEach(question => { %>
        <div class="card mt-2">
            <div class="card-body">
                <h3><%= question.title %></h3>
                <h6><%= question.description %></h6>
            </div>
            <div class="card-footer">
                <a href="/question/<%= question.id %>"><button class='btn btn-primary'>Answer</button></a>
            </div>
        </div>
        <% })} %>

    </div>

</body>
<%- include ('partials/footer.ejs') %>